[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-login = "*"
flask-mail = "*"
flask-sqlalchemy = "*"
sqlalchemy-migrate = "*"
flask-wtf = "*"
flask-babel = "*"
guess-language = "*"
flipflop = "*"
coverage = "*"
tornado = "*"
gunicorn = "*"
flask-migrate = "*"
pyjwt = "*"
python-dotenv = "*"
elasticsearch = "*"

[dev-packages]
pylint = "*"
"fabric3" = "*"

[requires]
python_version = "3.6"
